{% assign disqus_shortname = section.settings.disqus_shortname %}

{% assign disqus_page_url = shop.url | append: article.url %}

{% assign disqus_page_id = article.handle %}

<hr />

<h3 id="AddCommentTitle">
  {{ 'blogs.comments.title' | t }}
</h3>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = "{{ disqus_page_url }}";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "{{ disqus_page_id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://{{ disqus_shortname }}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
