{% if section.settings.enable_payment_icons %}
  <div class="footer-payment">
    <ul class="no-bullets">
      {% for type in shop.enabled_payment_types %}
        <li>{{ type | payment_type_svg_tag: class:'payment-icon' }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
