<div class="product-lightbox" data-product-lightbox>
  <button class="product-lightbox-button close" data-product-lightbox-button="close">
    <svg><use xlink:href="#icon-close"></use></svg>
  </button>

  <div class="product-lightbox-images">
    {% for media in product.media %}
      {% include "attribute-media-box-ratio" %}

      {% include "filter-rias-img-url" input: media %}
      {% assign image_url = output %}

      <div class="image-box-ratio" style="padding-bottom: {{ media_box_ratio }};">
        <img
          data-src="{{ image_url }}"
          data-sizes="auto"
          class="lazyload lazyload-fade"
          alt="{{ media.alt | escape }}">

          {% case media.media_type %}
          {% when 'external_video', 'video' %}
            <div class="media-badge video"></div>
          {% when 'model' %}
            <div class="media-badge model"></div>
          {% endcase %}
      </div>
    {% endfor %}
  </div>
</div>
