{% comment %}
<form action="/search" method="get" class="input-group search-bar" role="search">
  <input type="hidden" name="type" value="product">
  <input type="search" id='searchBarInput' name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}" autocomplete="off">

  <button class='search-close' type="button" aria-label="{{ 'general.search.close' | t }}">
    <svg><use xlink:href="#icon-close"></use></svg>
  </button>
</form>
{% endcomment %}