<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
  {% section 'europe-richtext' %}
  {% section 'europe-grid' %}
    {% section 'europe-grid-2' %}
    {% section 'europe-product-grid' %}
        {% section 'europe-richtext-3' %}
</div>
