<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
        {% render 'breadcrumbs' %}  
  {% section 'travel-slideshow' %}
  {% section 'travel-rich-text' %}
    {% section 'travel-rich-text-2' %}
      {% section 'travel-grid' %}  
</div>
