<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
  {% section 'europe-richtext' %}
  {% section 'europe-grid' %}
  {% section 'europe-grid-2' %}
  {% section 'europe-grid-3' %}
  {% section 'europe-grid-4' %}
  {% section 'europe-richtext-3' %}
</div>
<style>
  .image-gutters--2 .index-grid-column {
    padding: 0px!important;
  }
  .image-gutters--stacked-column--2 .index-grid-item:first-child,
  .image-gutters--stacked-column--2 .index-grid-item:last-child{
    padding-top: 0px;
    padding-bottom: 0px;
  }
</style>