<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
    {% render 'breadcrumbs' %}  

</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/llrt7mWDfZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
    </div>
  </div>
  Join us at&nbsp;Nc’nean for this year’s West Highland Whisky Festival, where we’ll be opening our doors for a full day of tours, tastings, music, local food, and exclusive festival experiences. Whisky lovers from around the world come together on our remote west coast site to celebrate flavour, whisky and community.
To keep things running smoothly on our remote site, you must book a session plus a transport option - bus, car‑parking, or walk‑in. An add-on warehouse experience is optional.

(Booking link)



What to Expect

Each visit lasts around 2 hours 45 minutes, including:

A guided distillery tour (free)
Optional warehouse tasting hosted by our founder, Annabel, featuring never before tasted casks (£35)
Time to explore the site and enjoy entertainment and food before your return journey

We’re running four sessions across the day, each with limited capacity.



Session Timings


Group 1

Bus leaves Lochaline: 09:30

Group 2

Bus leaves Lochaline: 10:45

Group 3

Bus leaves Lochaline: 12:00

Group 4

Bus leaves Lochaline: 13:30

(Information needs confirming)




Accommodation

Local accommodation is being held for festival visitors in:

Highland base camp - ten spaces available
Lochaline Hotel - four rooms available
Ardtornish Estate - one flat (sleeps five)



Local Businesses

Great spots to visit nearby:

·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The White House Restaurant (Lochaline)

·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ardtornish Café



Other Distilleries’ Booking Links

Ardnamurchan
Tobermory
Oban
<div class="page-content">
  {{ page.content }}
</div> 