<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
        {% render 'breadcrumbs' %}  
  {% section 'internship-slideshow' %}
{% section 'rich-text-internship' %}
        {% section 'internship-grid' %}  
</div>
