<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
    {% render 'breadcrumbs' %}  
  {% section 'sustainability-slideshow' %}
  {% section 'sustainability-grid' %}
    {% section 'sustainability-grid-2' %}
</div>
