<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
  {% section 'batch-features' %}
    {% section 'batch-features-2' %}
      {% section 'batch-features-3' %}
      {% section 'batch-features-4' %}

</div>
