<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
  {% section 'whisky-six-social-intro' %}
  {% section 'wss-grid-2' %}
  {% section 'wss-grid' %}
  {% section 'wss-grid-3' %}
</div>
