<!-- updated by PBD 2/11/23 -->
<style>
  .image-gutters--2 .index-grid-column {
    padding: 0px!important;
  }
  .image-gutters--stacked-column--2 .index-grid-item {
    border: solid 1px #e3ede7;
  }
  .image-gutters--stacked-column--2 .index-grid-item:first-child,
  .image-gutters--stacked-column--2 .index-grid-item:last-child{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .image-gutters--2 {
    margin-top: 0px;
    padding-right: 0px;
    padding-bottom:0px;
  }
  .image-gutters--2 .image-gutters--stacked-column--2 .index-grid-item:first-child {
    padding-bottom: 0px;
  }
  .parallax-container .shopify-section.index-grid-wrapper+* {margin-bottom:0;}
</style>
<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
  {% section 'restofworld-richtext' %}
  {% section 'restofworld-grid' %}
    {% section 'richtext-restofworld' %}
</div>
