<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">

  <p>
  </p>
  <p>
  </p>
  <p>
  </p>
  <p>
  </p>
  
  <center> 
  <div class="klaviyo-form-V3Eq6a"></div>
  </center>
</div>

