<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
        {% render 'breadcrumbs' %}  
  {% section 'whattodo-slideshow' %}
  {% section 'whattodo-rich-text-' %}
      {% section 'whattodo-grid' %}  
</div>
