<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
        {% render 'breadcrumbs' %}  
  {% section 'bcorp-slideshow' %}
{% section 'rich-text-bcorp' %}
        {% section 'bcorp-grid' %}  
          {% section 'bcorp-grid-2' %}  

</div>
