<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
        {% render 'breadcrumbs' %}      
  {% section 'whisky-production-slideshow' %}  
  {% section 'production-grid' %}
</div>

 @media screen and (max-width: 767px) {
        /* Adjust the text position as needed */
        .slideshow__text-wrapper {
            align-items: center */
            justify-content: center */
        }
    }
  