<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
        {% render 'breadcrumbs' %}  
  {% section 'visitor-slideshow' %}
  {% section 'rich-text-visit' %}
    {% section 'rich-text-visit-2' %}
      {% section 'visitor-grid-2' %}  
  {% section 'visitor-grid' %}
</div>
