<!-- /templates/page.liquid -->
<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
  <div class="terms-conditions-template">{{ page.content }}</div>
</div>

<style>
  
h1 {
  font-size: 1.5em;
      letter-spacing: 3px;

}

h2 {
  font-size: 1.2em;
      letter-spacing: 2px;

}

h3 {
  font-size: 1em;
        letter-spacing: 2px;

}

h4 {
  font-size: 0.9;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.7em;
}
  

</style>