<!-- /templates/page.liquid -->

<div class="parallax-container js-transparent-header-fadein js-after-primary-carousel">
      {% render 'breadcrumbs' %}  
{% section 'team-slideshow' %}
  {% section 'team-grid' %}
{% section 'team-grid-2' %}
{% section 'team-grid-3' %}
{% section 'team-grid-4' %}
{% section 'team-grid-5' %}
{% section 'team-grid-6' %}
{% section 'team-grid-7' %}
  {% section 'team-grid-8' %}
</div>

